<%# Универсальный паршиал отображения ошибок валидации любой модели %>
<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead buffer-bottom">
      <%= "#{I18n.t('errors.in_the_form')} #{errors.count} #{I18n.t('errors.mistake', count: errors.count)}" %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li class="text-break"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
