<%# Event list %>

<div class="buffer-both">
  <%= link_to t('events.new.new_event'), new_event_path, class: 'btn btn-info' %>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
